*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a{
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: .8rem ;
}
.navbar a:hover{
  text-decoration: underline;
}
.icons{
  padding: 1px;
  margin: 5px;
}
.icons:hover{
  background-color: #f2f2f2;
  border-radius: 50%;
}
.container{
  min-height: 73vh;
}
.main {
  margin-top: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.logo{
  display:block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 47px;
  width: 650px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
.searchbar:hover{
  box-shadow: 0 0 2px .5px #808080;
}
.btn {
  font-family:Segoe UI;
  font-weight: 400;
  font-size: .8rem;
  color: #484848;
  margin:20px 8px 0px 0px;
  background-color: rgb(240, 240, 240);
  line-height: 25px;
  border: 0px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 5px;
}
.btn:hover{
  box-shadow: 0 0 2px .5px #9e9e9e;
}
#languages{
  text-align: center;
  font-size: .9rem;
  margin-top: 30px;
}
#languages a{
  text-decoration: none;
}
.footer, .location{
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}
.footer{
  box-shadow: 0 0 0 .5px #70757a;
}
.left-items, .right-items{
  display: flex;
  margin: 0px 15px;
}
.location p{
  margin: 0px 15px; 
}
.left-items a, .right-items a,.location p{
  font-size: .8rem;
  text-decoration: none;
  color: #70757a;
  padding: 15px;
  white-space: nowrap;
}
.left-items a:hover, .right-items a:hover{
  text-decoration: underline;
}
